$primary-color: #42B4CA;
$secondary-color: #BFDE42;
$background-color: #193840;
$white-color: #FFFFFF;
$black-color: #000000;
$green-color: #00FF00;
$red-color: #FF0000;
$primary-font: 'Roboto', sans-serif;

.page{
    height: 100vh;
    overflow: hidden;
}
