@import '../../styles/base.module.scss';

.carousel{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.carousel_card{ 
    width: 312px;
    height: 188px;
    border-radius: 15px;
    background-color: $background_color;
}

