@import '../styles/base.module.scss';

.create{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 180px
}

.create__header{
    margin-top: 32px;
    width: 100%;
    height: 46px;
    background-color: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create__title{
    font-size: 30px;
    font-weight: 700;
    font-family: $primary-font;
    color: $secondary-color;
}

.create__card{
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin: 0px 16px;
    padding: 2px 8px; 
    border-radius: 15px;
    height: 220px;
    width: 80%;
    background-color: $background_color;
    transition: filter 0.2s ease-in-out;
}

.create__image{
    width: 80px;
    height: 80px;
    border: 5px solid $secondary-color;
}

.create__attributes{
    display: flex;
    flex: 1;
    margin: 2px 16px;
    flex-direction: column;
    gap: 2px;
}

.create__title{
    font-family: $primary-font;
    font-weight: 700;
    font-size: 14px;
    color: $secondary-color;
    margin: 4px 0px;
}

.create__div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.create__gender{
    display: flex;
    flex-direction: column;
}

.create__origin{
    display: flex;
    flex-direction: column;
}

.create__status{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    align-self: flex-end;
}

.create__unknown{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $grey-color;
}

.create__span{
    font-family: $primary-font;
    font-weight: 600;
    font-size: 10px;
    color: $primary-color;
}

@media (min-width: 426px) and (max-width: 768px) {
    .create{
        gap: 100px;
    }

    .create__header{
        margin-top: 50px;
        height: 60px;
    }

    .create__title{
        font-size: 40px;
    }

    .create__card{
        height: 300px;
    }

    .create__image{
        width: 100px;
        height: 100px;
    }

    .create__title{
        font-size: 16px;
    }

    .create__unknown{
        width: 5px;
        height: 5px;
    }
}

@media (min-width: 769px) {
    .create{
        gap: 50px;
    }

    .create__header{
        margin-top: 50px;
        height: 68px;
    }

    .create__title{
        font-size: 46px;
    }

    .create__card{
        height: 300px;
        width: 50%;
    }

    .create__image{
        width: 100px;
        height: 100px;
    }

    .create__title{
        font-size: 20px;
    }

    .create__unknown{
        width: 6px;
        height: 6px;
    }
}